<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philippinehistoryquizgamefinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Philippine History Quiz Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuizBeeSelectLevelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IdentifyMeSelectLevelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LocateMeSelectLevelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FITBSelectLevelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MysteryRoundSelectLevelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityAverage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityDifficult"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityIdentifyMe"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityIdentifyMeAverage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityIdentifyMeDifficult"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityLocateMe"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityLocateMeAverage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityLocateMeDifficult"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityFITB"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityFITBAverage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityFITBDifficult"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityPUPRelatedMysteryRound"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionActivityPHHistoryMysteryRound"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
    </application>

</manifest>